.contact {
  padding: 3rem;

  i {
    font-size: 300px;
  }
}

.contact-container {
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  gap: 7rem;
  flex-wrap: wrap;
  flex: 1;
}

.contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 600px;

  input {
    border: 2px solid black;
    border-radius: 10px;
    height: 35px;
  }

  textarea {
    border: 2px solid black;
    border-radius: 10px;
    height: 150px;
  }

  button {
    color: #fff;
    background: darken($primary-color, 10);
    border-radius: 10px;
    height: 35px;

    &:hover {
      cursor: pointer;
      background: $secondary-color;
      color: set-text-color($secondary-color);
      @include easeOut;
    }
  }
}

.message {
  display: none;
  background: $secondary-color;
  position: fixed;
  right: 15px;
  bottom: 15px;
  border: none;
  width: fit-content;
  height: fit-content;
  padding: 1rem;
  border-radius: 10px;
}

.message[open] {
  display: block;
  animation: slide-from-right 1000ms forwards;
}

.message[closing] {
  animation: fade-out 500ms forwards;
}


@keyframes fade-out {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes slide-from-right {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(0%);
  }
}