@import 'config';
@import 'menu';

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  color: $secondary-color;
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}
