@import 'config';
@import 'menu';
@import 'homepage';
@import 'about';
@import 'work';
@import 'modal';

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color;
  color: set-text-color($secondary-color);
  height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
}

main {
  min-height: calc(100vh - 60px - 60px);
}

#main-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background: darken($primary-color, 10);
  height: 60px;


  .footer-some {
    a {
      color: #fff;
      padding: 0 1rem;
      text-decoration: none;
  
      &:hover {
        color: $secondary-color;
        @include easeOut;
      }
    }
  }
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;

  &.lg-heading {
    font-size: 6rem;
  }

  &.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
  }
}

.text-secondary {
  color: $secondary-color;
}

@import 'mobile';